body {
  background-color: black;
}
a{
  margin: 50px;
}
h1 {
  color: whitesmoke;
  margin: 50px;
  margin-bottom:10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 25px;
}
h2 {
  color: blue;
  margin: 50px;
  margin-top:20px;
  margin-bottom:20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
h3 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
h4 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
h5 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
p {
  color: darkgray;
  border: 2px lightgray;
  padding: 30px;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
div.column{
  border: 3px solid white; 
  width: 42%;
  padding: 25px;
  float: left;
  clear: right;
  overflow: auto;
  margin: 25px;
}
div.container{
  position: relative;
  border: 1px dotted white; 
  width: auto;
  float: left;
  clear: both;
  overflow: hidden;
  margin: 25px;
  padding: 15px;
}
img.hover:hover{
  background-color: darkgray;
}
i{
  color: white;
  margin: 50px;
  line-height: 0.1;
}
a:hover {
  color:limegreen;
  background-color: orange;
}
.bottom-left {
  position: absolute;
  bottom: 77px;
  left: 77px;
}
.customfont{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}