body {
  background-color: black;
}
h1 {
  color: whitesmoke;
  margin: 50px;
  margin-bottom:10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
h2 {
  color: blue;
  margin: 50px;
  margin-top:20px;
  margin-bottom:20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
h3 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
h4 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
h5 {
  color: white;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
p {
  color: darkgray;
  border: 2px lightgray;
  padding: 30px;
  margin: 50px;
  margin-top:20px;
  margin-bottom:10px;
}
img{
 
}
i{
  color: white;
  margin: 50px;
  line-height: 0.1;
}
a:hover {
  color:limegreen;
  background-color: orange;
}
.container{
  position: relative;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.bottom-left {
  position: absolute;
  bottom: 77px;
  left: 77px;
}
.customfont{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}